<header class="header">
  <img src='https://yt3.ggpht.com/ytc/AKedOLRyUwxtIFwO3p9d_2AqA32ebuLOMfOZ4W5Z2bHV=s900-c-k-c0x00ffffff-no-rj'
       alt="Calendar"
       class="header-logo"
  >
  <h1 class="header-title">Evidencija diplomskih radova</h1>
  <button class="button-one">Danas</button>
  <button class="button-two">
       <span class="material-icons-outlined cursor-pointer">
        chevron_left
       </span>
  </button>
  <button class="button-two">
       <span class="material-icons-outlined cursor-pointer">
        chevron_right
       </span>
  </button>
  <h2>

  </h2>
</header>
