<header class="header">
  <img src='../../../../assets/pictures/fon-logo.jpg'
       alt="Calendar"
       class="header-logo"
  >
  <h1 class="header-title">Evidencija diplomskih radova</h1>
  <button class="button-one text" (click)="changeCurrentMonth(2)">Danas</button>
  <button class="button-two" (click)="changeCurrentMonth(0)">
       <span class="material-icons-outlined cursor-pointer">
        chevron_left
       </span>
  </button>
  <button class="button-two" (click)="changeCurrentMonth(1)">
       <span class="material-icons-outlined cursor-pointer">
        chevron_right
       </span>
  </button>
  <h2 class="header-date-text ">
    {{currentMontsNumberString}}
  </h2>
  <button (click)="logout()">Logout</button>
</header>
