.container {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.nav-icon {
  margin-right: 12px;
}

.nav-text {
  margin-left: 12px;
  margin-right: 8px; /* Add a right margin of 8px */
}
.custom-sidenav {
  width: 280px; /* Set the width to your desired value */
  padding: 20px;
}
@media screen and (max-width: 991px) {
  .custom-sidenav {
    width: 180px; /* Set the width to your desired value */
    padding: 10px;
  }
  .custom-sidenav .nav-text {
    font-size: 14px; /* Set the font size to your desired value */
  }
}
.content-container {
  padding: 20px;
}
