<button mat-raised-button class="full-width-button" (click)="generateICalendarFIle()"
style="margin-bottom: 15px"
>
  <div class="button-content">
    <p style="margin: 0px 10px 0px 0px">Preuzmi ICalendar fajl za ceo mesec</p>
    <mat-icon>download</mat-icon>
  </div>
</button>

<div style="display: flex; justify-content: space-between; align-items: center;">
  <button mat-icon-button class="custom-button" (click)="changeCurrentMonth(0)">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <p>{{ currentMonthsNumberString }}</p>
  <button mat-icon-button class="custom-button" (click)="changeCurrentMonth(1)">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<app-days-of-the-week-grid></app-days-of-the-week-grid>
<mat-grid-list cols="7" rowHeight="150px" gutterSize="10px">
  <ng-container *ngFor="let row of currentMonth$ | async">
    <ng-container *ngFor="let element of row">
      <mat-grid-tile colspan="1">
        <mat-card class="grid-card">
        <!-- Content for each element -->
          <mat-card-content class="content">
            <div class="header">
              <h3>{{ element.format('DD MMMM') | translateMonth }}</h3>
            </div>
            <div class="body">
              <app-big-calendar-card [date]="element" [thesis]="thesisData$ | async"></app-big-calendar-card>
            </div>
          </mat-card-content>
      </mat-card>
      </mat-grid-tile>
    </ng-container>
  </ng-container>
</mat-grid-list>
