.modal{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.modal-forma{
  background-color: #ffffff;
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.modal-header{
  display: flex;
  padding: 0.5rem 1rem;
  background-color: #F3F4F6;
  justify-content: space-between;
  align-items: center;
}
//.modal-body{
//  display: grid;
//  align-items: flex-end;
//}
.modal-input-field{
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
  color: #4B5563;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  border-width: 0;
  border-bottom-width: 2px;
  border-color: #E5E7EB;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  outline: 0;
}

.modal-footer{
  display: flex;
  padding: 0.75rem;
  margin-top: 1.25rem;
  justify-content: flex-end;
  border-top-width: 1px;
}
.modal-button{
  padding: 0.5rem 1.5rem;
  background-color: #3B82F6;
  color: #ffffff;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.85rem;
}
.display{
  display: none;
}
