<app-panel [isContainer]="false"
           [title]="'Korisnici aplikacije'"
           [actions]="appUserHeaderActions">
  <!--  <div class="row">-->
  <!--    <div class="col-md-12">-->
  <!--      <app-search-input-->
  <!--        [appearance]="'outline'"-->
  <!--        [searchFormControl]="searchForm.controls.query"></app-search-input>-->
  <!--    </div>-->
  <!--  </div>-->
  <div>
    <table class="table" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Korisničko ime</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime</th>
        <td mat-cell *matCellDef="let element">{{element.firstname}}
        </td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezime</th>
        <td mat-cell *matCellDef="let element">{{element.lastname}}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}
        </td>
      </ng-container>

      <ng-container matColumnDef="roles" style="width: 300px">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uloge korisnika</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngFor="let role of element.roles" style="width: auto; background-color: #ccff90; color: #2c2467">
              {{role.name | role}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcije</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editUser(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <mat-paginator class="ngo-paginator" [length]="totalNumberOfAppUsers" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
                 (page)="onPaginate()"
                 showFirstLastButtons></mat-paginator>
</app-panel>
