<mat-sidenav-container>
  <mat-sidenav mode="over" opened="false" #sidenav class="custom-sidenav">
    <!-- Content for your side navigation -->
    <mat-nav-list>
      <div class="section">
        <span class="section-title">Section 1</span>
        <a mat-list-item href="#">
          <mat-icon class="nav-icon">home</mat-icon>
          <span class="nav-text">Link 1</span>
        </a>
        <a mat-list-item href="#">
          <mat-icon class="nav-icon">settings</mat-icon>
          <span class="nav-text">Link 2</span>
        </a>
        <a mat-list-item href="#">
          <mat-icon class="nav-icon">info</mat-icon>
          <span class="nav-text">Link 3</span>
        </a>
      </div>
      <div class="section">
        <span class="section-title">Section 2</span>
        <a mat-list-item href="#">
          <mat-icon class="nav-icon">folder</mat-icon>
          <span class="nav-text">Link 4</span>
        </a>
        <a mat-list-item href="#">
          <mat-icon class="nav-icon">notifications</mat-icon>
          <span class="nav-text">Link 5</span>
        </a>
        <a mat-list-item href="#">
          <mat-icon class="nav-icon">email</mat-icon>
          <span class="nav-text">Link 6</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Your main content -->
    <mat-toolbar>
      <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex-row-center">
        <img src='../../../../assets/pictures/fon-logo.png' alt="Calendar" class="header-logo">
        <h1 class="header-title">Evidencija diplomskih radova</h1>
      </div>
      <div style="display: flex; justify-content: flex-end;" [class]="isSmallScreen ? '' : 'flex-1'">
        <button class="custom-button" [class]="isSmallScreen ? 'mat-button' : 'mat-raised-button'" (click)="logout()">
<!--          nisam siguran zasto ovo nece-->
          <span *ngIf="!isSmallScreen" class="button-text">Izloguj se</span>
          <mat-icon class="logout-icon">exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="content-container">
      <app-responsive-grid></app-responsive-grid>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
