.nav-icon {
  margin-right: 12px;
}

.nav-text {
  margin-left: 12px;
  margin-right: 8px; /* Add a right margin of 8px */
}

.custom-sidenav {
  width: 280px; /* Set the width to your desired value */
  padding: 20px;
}

.content-container {
  padding: 20px;
}

.mat-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.menu-button {
  margin-right: 16px;
}

.spacer {
  flex-grow: 1;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.header-title {
  font-size: 18px;
  margin: 0;
}

.custom-button {
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
}

.button-text {
  margin-right: 4px;
}

.logout-icon {
  margin-left: 4px;
}
.flex-1{
  flex: 1;
}

@media screen and (max-width: 991px) {
  .custom-sidenav {
    width: 180px; /* Set the width to your desired value */
    padding: 10px;
  }
  .custom-sidenav .nav-text {
    font-size: 14px; /* Set the font size to your desired value */
  }
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    width: 20px;
    height: 20px;
    order: -1;
  }
  .flex-row-center {
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    font-size: 10px;
  }
  .logout-icon {
    font-size: 25px;
  }
  .custom-button.mat-raised-button {
    display: none;
  }
}
