<div style="margin-top: 2.25rem; ">
  <header class="small-calendar-header">
    <p style="color: #6B7280;font-weight: 700;"></p>
    <div>
      <button class="small-calendar-button">
        <span class="material-icons-outlined small-calendar-chevron">chevron_left</span>
      </button>
      <button class="small-calendar-button">
        <span class="material-icons-outlined small-calendar-chevron">chevron_right</span>
      </button>
    </div>
  </header>
  <div class="small-calendar-grid">
    <span class="small-calendar-dates">123</span>
  </div>
</div>
