<div class="day" [ngClass]="checkDayAfterOrBefore() ? 'day-background-color' : ''" (click)="changeSelectedDate()">
<header class="day-header">
<p *ngIf="calendarRowIndex === 0" class="text">{{dayName}}</p>
  <div [ngClass]="checkedDay ? 'circle' : ''">
<p class="day-header-date">{{day.format('DD')}}</p>
  </div>
</header>
  <div style="margin-top: 20px" (click)="openDetailsModel()">
    <div class="day-events">
  123
    </div>
    <div class="day-events">
      qwe
    </div>
    <div class="day-events">
      asd
    </div>
  </div>
</div>
