.ngo-search {
  ::ng-deep .mat-form-field {
    width: 100%;
  }
  ::ng-deep .mat-form-field-prefix {
    width: 30px;
    height: 29px;
    .mat-icon {
      position: absolute;
      top: 11px;
      left: 0;
      opacity: .6;
    }
  }

  ::ng-deep .mat-form-field-suffix {
    width: 24px;
    height: 29px;
    .mat-icon {
      position: absolute;
      top: 8px;
      opacity: .6;
      transition: opacity .2s;
      &:hover {
        opacity: .95;
      }
    }
  }

  .clear-button {
    cursor: pointer;
  }

}
