<div style="margin-top: 2.25rem; ">
  <header class="small-calendar-header">
    <p style="color: #6B7280;font-weight: 700;">{{currentMontsNumber}}</p>
    <div style="  display: flex; align-items: center;">
      <button class="small-calendar-button button-global-style">
        <span class="material-icons-outlined small-calendar-chevron ">chevron_left</span>
      </button>
      <button class="small-calendar-button button-global-style">
        <span class="material-icons-outlined small-calendar-chevron">chevron_right</span>
      </button>
    </div>
  </header>
  <div class="small-calendar" style="display: flex; flex-direction: row">
    <span class="small-calendar-dates" *ngFor="let day of dayOfTHeWeek">{{day}}</span>
  </div>
  <div class="small-calendar">
<div *ngFor="let currentMonthRow of currentMonth$ | async" style="display: flex; flex-direction: row; width: auto">
<div *ngFor="let day of currentMonthRow" style="width: 4rem;">
<button style="padding-top: 0.25rem;padding-bottom: 0.25rem;width: 100%; " class="button-global-style">
  <span style="font-size: 0.875rem; line-height: 1.25rem; ">{{day.format('D')}}</span>
</button>
</div>
</div>
  </div>
</div>
