.form-control {
  &:focus {
    border: none;
    box-shadow: none;
  }
}
.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Adjust the width of the form fields to take up a smaller percentage of the screen on smaller screens */
@media (max-width: 600px) {
  .login-field {
    width: 80%;
  }
}
.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://i.pinimg.com/736x/38/85/d4/3885d4217f37fe9bfbb5865096ad1961--hd-wallpaper-wallpapers.jpg');
  background-size: cover;
}
.login-field {
  width: 100%;
  margin-bottom: 10px;
}
mat-card-title {
  margin-bottom: 16px;
}
mat-card-content {
  padding-top: 16px;
}
.big-button {
  padding: 10px 20px;
  font-size: 18px;
  margin-right: 10px !important;
}
mat-card {
  background-color: rgba(93, 88, 88, 0.8);
  height: 300px;
  width: 500px;
}


