@import "src/variables";

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}

mat-card {
  max-width: 400px;
  background: transparent;
  height: 500px;
  margin-left: auto; /* Push the card to the right side */
  margin-right: calc(25% - 200px); /* Set the right margin to be 3/4 of the available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

form {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}
.mat-form-field:last-child {
  margin-bottom: 0;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 20px;
}
.mat-card-actions:last-child {
  margin-bottom: 0 !important;
}

button.mat-button {
  flex-grow: 1;
  background-color: lightskyblue;
}
.title-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.subheader {
  font-size: 16px;
  margin-bottom: 4px;
}
.mat-card-title {
  width: calc(100% - 40px);
  margin: 0 20px;
  color: $main-font-color;
}

@media screen and (max-width: 991px) {
  .container {
    display: flex;
    justify-content: center; /* Horizontally center the card */
    align-items: center; /* Vertically center the card */
    height: 100vh;
  }

  mat-card {
    margin-left: auto; /* Push the card to the right side */
    margin-right: auto; /* Push the card to the left side */
    font-size: 14px;
  }

  .title-header {
    /* Existing styles */

    /* Additional styles */
    font-size: 20px;
  }

  .subheader {
    /* Existing styles */

    /* Additional styles */
    font-size: 12px;
  }
}


