/* You can add global styles to this file, and also import other style files */

* {

  font-family: 'Open Sans';
}
body{
  margin: 0;
  padding: 0;
}
.toast-top-center {
  //top: 8% !important;
  width: 100%;
  top: 10px!important;
}

.toast-container .ngx-toastr {
  min-width: 30%;
  height: 80px;
  opacity: 0.95 !important;
  text-align: center;
}
.button-global-style{
  border-style: none !important;
  background-color: transparent !important;
}
