.custom-button {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  padding: 0;
}
.grid-container {
  height: 100%;
  overflow-y: auto;
}
.grid-card {
  width: 100%;
  height: 100%;
}
